@font-face {
    font-family: 'Subway';
    src: url('fuentes/Subway_Haze_1.1.ttf');
    font-family: 'Kelano';
    src: url(fuentes/Kelano\ Remora.otf);
    font-family: 'Libre_Franklin';
    src: url(fuentes/LibreFranklin-VariableFont_wght.ttf);
    
}

.Subway{
    font-family: 'Subway';
    letter-spacing: 0.5rem;
}
.Kelano{
    font-family: 'Kelano';
    letter-spacing: 0.2rem;
}
.raleway-1 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.colornav, footer{
    background-color: #edeae6;
}
footer{
    background-color: #dad7d3;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: small;
    letter-spacing: 0.1rem;
    color:#7c7c7b
}
.centro, .opinionNombre{
    display:flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;  
    overflow: hidden;  
}
.titulo{
    color: #c14242;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center; 
}
h3{
    color:#928249;
}
#emma, #carouselExampleDark{
    background-color: #edeae6;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: rgb(50, 101, 110);
}
#autor{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #32656e;
    color:#edeae6;  
}
.separador{
    width: 100%;
    height: fit-content;
    object-fit: cover;
}
.autorbiografia,.emmalibrodesc{
    margin-left:2rem;
    margin-right:2rem;
    padding-top: 2rem;
}
.imgEmma, .perfil{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    height: 40vh;
    margin: 5px;
    border-radius: 3px; 
}
.imgAutor{
    display: flex;
    height:50vh;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
.perfil{
    height: 10vh;
    margin-bottom: 0;
}
.opinion{
    text-align: center;
    margin: 0px 300px 20px 300px;
    font-family: "Roboto", sans-serif;
}
.opinionNombre{
    color: #32656e;
    font-weight: lighter;
    font-size: larger;
}

