@media screen and (max-width:800px){
    .opinion{
        text-align: center;
        margin: auto 20px 20px 20px;
    }
    .carousel-control-next-icon,.carousel-control-prev-icon{
        display: none;
    }
    .imgAutor{
        padding: 30px;
        border-style: none;
    }
    .autorbiografia{
        padding-top: 0;
    }
    h3{
        margin-top:10px;
        margin-bottom: 0;
    }
    .opinion{
        margin-left:2rem;
    margin-right:2rem;
    }
}